@font-face {
    font-family: American_Typewriter;
    src: url("./american-typewriter/americantypewriter.ttf");

}

@font-face {
    font-family: American_Text;
    src: url("./american-text/AmericanText-2OVw.ttf");

}